
<%
if(data['total'] > 0){ 
%>
<ul class="mui-table-view">
	<% 		
		for(var i=0,j=data['data'].length;i<j;i++){ 
			var comment = data['data'][i];
	%>
	<li class="mui-table-view-cell mui-media comment-item">
		<% if(comment['headImg'] != ''){ %>
		<img class="mui-media-object mui-pull-left comment-head-img" src="<%=comment['headImg']%>">
		<% } %>
		<div class="mui-media-body">
			<%=comment['username']%>
			<p class="mui-ellipsis"><%=comment['content']%></p>
		</div>
		<div class="mui-media-foot">
			<% var dot = (comment['is_dot']==1)?'actived':''; %>
			<div class="appui-like"><i><%=comment['like']%></i><i class="iconfont <%=comment['dot']%>">&#xe669;</i></div>
		</div>	
	</li>	
	<% } %>	
</ul>
<% }else{ %>
<p>还没有评论~</p>	
<% }%>